h1{ 
    color:black;
}
* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #6e3636;
  color: #f5f5f5;
  line-height: 1.6;
}

a {
  text-decoration: navy;
  color: chocolate;
}

img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

header {
    text-decoration: underline;
  background-color: cornflowerblue;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

header h1 {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

nav a {
text-decoration: underline;
margin-left: 25px;
  font-size: 1rem;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

nav a:hover {
  opacity: 1;
}

.hero {
  height: 90vh;
  background: url("hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 30px;
  border-radius: 12px;
}

.gallery {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.gallery img {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 40px rgba(156, 183, 48, 0.8);
}

.about {
    text-decoration: underline;
  padding: 80px 60px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.about h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.1rem;
  opacity: 0.85;
}

.contact {
  padding: 60px;
  background: #111;
  text-align: center;
}

.contact h3 {
  margin-bottom: 20px;
}

.contact input,
.contact textarea {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.contact button {  
  margin-top: 15px;
  padding: 12px 30px;
  background: #f5f5f5;
  color: #000;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact button:hover {
  background: #371b1b;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  background: #3e571e;
  opacity: 0.7;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav {
    margin-top: 10px;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .gallery {
    padding: 30px;
  }
}
